/docs/
/node_modules/
/test/
/.cloudbuild/
/scripts/
.npmignore
tslint.json
tsconfig.json
*.log
/src/**/*.ts
index.ts
hvigor-imports.ts
/types/hvigor-shim.d.ts
!/src/**/*.d.ts
**/*.js.map
.eslintrc.js
.idea
**/*.patch
